extends base.pug

block scripts 
    script(src='/static/index.js')

block style
    style
        include ../static/style.css 
        include ../static/styleAbout.css

block content 
    div#container
        p.large  About us
        p.small Welcome to Choco Studio! We provide the best baking classes in the whole world. Cooking is more than just making a daily meal. It can transform your everyday routine into a fun and creative experience. Once you put your heart into what you make, the outcome is always as desired. We,Choco Studio are a reputed name for offering excellent baking skills and techniques and become professional in this domain. We offer top quality cbaking, confectionery courses etc. We also guide you to improve flavour and taste of various dishes as well as increase your recipe collection. Come and join us today to learn the art of baking food from the best chefs! 

